
@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase
<div class="container_app">
<div class="d-flex justify-content-center">
    <h1 class="text-xl-center">Welcome in my App</h1>   
</div>
<div class="d-flex justify-content-center">
    <p>Account's for testing purpose :</p>
</div>
    <div class="d-flex justify-content-center gap-2 flex-sm-wrap">
    <ul class="list-group account_settings">
        <li class="list-group-item active">Tester</li>
        <li class="list-group-item">email: tester@gmail.com</li>
        <li class="list-group-item">password: Qwerty1234!</li>
    </ul>
        <ul class="list-group account_settings flex-sm-wrap">
        <li class="list-group-item active">Purchaser</li>
        <li class="list-group-item">email: purchaser@gmail.com</li>
        <li class="list-group-item">password: Qwerty1234!</li>
    </ul>
        <ul class="list-group account_settings flex-sm-wrap">
        <li class="list-group-item active">Sales</li>
        <li class="list-group-item">email: sales@gmail.com</li>
        <li class="list-group-item">password: Qwerty1234!</li>
    </ul>
        <ul class="list-group account_settings flex-sm-wrap">
        <li class="list-group-item active">Production</li>
        <li class="list-group-item">email: production@gmail.com</li>
        <li class="list-group-item">password: Qwerty1234!</li>
    </ul>
    <ul class="list-group account_settings flex-sm-wrap">
        <li class="list-group-item active">Admin</li>
        <li class="list-group-item">email: admin@gmail.com</li>
        <li class="list-group-item">password: Qwerty1234!</li>
    </ul>
</div>
</div>
<PageTitle>App IMS</PageTitle>
<br/>
@*<ul>
    @foreach(var inv in _inventories)
    {
    <li>
        @inv.InventoryName
    </li>
    }
</ul>*@

@code {
    private List<Inventory> _inventories = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();

        //var inventory = new Inventory { InventoryId = 1, InventoryName = "Laptop X-2343", Quantity = 120, Price = 999.99 };

        //await EditInventoryUseCase.ExecuteAsync(inventory);

       _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}